/* Bootstrap overrides */
$font-family-sans-serif:	'Questrial', sans-serif;
$brand-primary:				darken(#394A59 , 6.5%) !default; 
$link-color:				#333;


$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;


/* Application variables */
$panel-font-color: #fff;

/* Import Boostrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Important Font-Awesome */
@import "font-awesome";

label{
	color: $brand-primary;
}
body { 
	background-image: url(image_path('homewave-downgray.png')); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.panel {
	.panel-heading {
		background-color: $brand-primary;
		color: $panel-font-color;
		a{
			color: $panel-font-color;
		}
	}
}
.nav-tabs li:hover{
	cursor: pointer;
}

.tab-pane{
	margin-top: 10px;
}

.project-title{
	color:#e63c2e;
}

.view-all-projects {
	.fa-remove {
		opacity: 0.50;
	}
	.fa-remove:hover{
		opacity: 1;
	}

	ul.list-group li{
		position: relative;
		.remove-btn{
			position: absolute;
			right: 10px;
			top: 5px;

		}
		:hover{
			background:$gray-lighter;
		}
		.list-group-item {
			background: $state-warning-bg;

		}
		a.list-group-item:hover{
			background: #e63c2e;
			color:#fff;
		}
	}
}

.show-project-items{

	ul.list-group {
		-webkit-box-shadow: -1px 2px 6px -1px rgba(140,140,140,0.43);
		-moz-box-shadow: -1px 2px 6px -1px rgba(140,140,140,0.43);
		box-shadow: -1px 2px 6px -1px rgba(140,140,140,0.43);

		li.list-group-item{
			border-top: 1px dashed $gray-lighter;
			border-bottom: 1px dashed $gray-lighter;
		}

		li.header, li:last-child{
			background: $state-warning-bg;
			border-bottom: 1px solid $gray-lighter;
			border-top: 1px solid $gray-lighter;
		}

	}
}
